<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleExecutable</key>
	<string>Flumen</string>
	<key>CFBundleIconFile</key>
	<string>AppIcon</string>
	<key>CFBundleIconName</key>
	<string>AppIcon</string>
	<key>CFBundleIdentifier</key>
	<string>com.saranshbarua.flumen</string>
	<key>CFBundleName</key>
	<string>Flumen</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.0.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSUIElement</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>SUFeedURL</key>
	<string>https://raw.githubusercontent.com/saranshbarua/flumen/main/flumen-appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>PPwDyy+kFybidv5pFXMRj/7Lvxn6qfVUNDOkI469ARU=</string>
</dict>
</plist>
